body{ 
  background-color: black; 
  color: white; 
  font-family: 'Josefin Sans', sans-serif; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header{ 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
} 
#title{
  flex-direction: column;
  line-height: 10px;
}
 li{ 
  display: inline-block; 
  margin: 20px;
} 
h1{ 
  font-weight: 200;
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: rgb(241, 81, 23);
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: rgb(241, 81, 23);
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: black;
  
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: rgb(241, 81, 23);
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: rgb(241, 81, 23);
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: black;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: rgb(241, 81, 23);
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: rgb(241, 81, 23);
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: rgb(241, 81, 23);
}

a{
  color:white;
}
a:hover{
  color: rgb(241, 81, 23);
  transition: 0.3s all;
}

@media screen and (max-width: 760px){
header{
  flex-direction: column;
   }
   ul{ text-align: center;
   }
   }
   footer{
    text-align: center;
    color: white ;
    background-color: black;
 }
